/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
}

.signup-btn{
    color: #fff;
    width: 10%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: white;
}

#navbar::before{
    content: "";
    background-color: white;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
  
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: black;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../img/back-signup.jpg);
    background-size: cover;
    background-position: center;
}

.sign-up-form{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0,3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}

.sign-up-form h1{
    color: #1c8adb;
    margin-bottom: 30px;
}

.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}

button{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-btn{
    background-color: #1c8adb;
}

.twitter-btn{
    background-color: #21afde;
}

a{
    text-decoration: none;
}

hr{
    margin-top: 20px;
    width: 80%;
}

.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}

img{
    width: 70px;
    margin-top: 0px;
}